# Python
venv/
__pycache__/
*.pyc
*.pyo

# Environment
.env

# VS Code
.vscode/

# Streamlit Secrets
.streamlit/secrets.toml

# Cache
.cache/

# FAISS
*.faiss
*.pkl

# Temporary files
temp/
chat_history/

# OS fileS
.DS_Store
Thumbs.db